<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylehome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Carrito de compra</title>
</head>

<body>
    
    <header>
    
        <div class="logo">
            <a href="/"><img src="/images/Logo1.png" width="360px" alt="Logo"></a>
        </div>
        <div class="caja">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Buscar productos">
        </div>

        
            <nav class="navegacion">
                
                <ul>
                    <li><i class="fab fa-whatsapp"></i></li>
                    <li><a href="/formulariologin">Login</a><i class="fas fa-address-card"></i></li>
                    <li><a href="/formulario">Creá tu cuenta</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="/productos/carrito">Carrito de compra</a><i class="fas fa-shopping-basket"></i></li>
                    <li><a href="/productos/detalle">Detalle del producto</a></li>
                </ul>
                
            </nav>
            
            <p class="division">
            </p>
    </header>

<div class="container">
    <h1>Carrito</h1>
    <div class="carrito">
        <div class="productos">
            <div class="producto">
                <img src="https://images.unsplash.com/photo-1621315271772-28b1f3a5df87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                <div class="info-producto">
                    <h3 class="nombre-producto">Zapatillas Modelo 1</h3>
                    <h2 class="precio-producto">$10,000</h2>
                    <h2 class="precio-oferta">50%</h2>
                    <p class="cantidad-producto">Cantidad: <input value="1" name="">
                  <p class="remover-producto">
                            
                            <i class="fas fa-trash-alt"></i>
                            <a href="#">Remover</a>
                            <!--<span class="remover">Remover</span>-->
                        </p> 
                </div>
            </div>
            <div class="productos">
                <div class="producto">
                    <img src="https://images.unsplash.com/photo-1608666634759-4376010f863d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                    <div class="info-producto">
                        <h3 class="nombre-producto">Zapatillas Modelo 2</h3>
                        <h2 class="precio-producto">$10,000</h2>
                        <h2 class="precio-oferta">50%</h2>
                        <p class="cantidad-producto">Cantidad: <input value="1" name="">
                        <p class="remover-producto">
                            <i class="fas fa-trash-alt"></i>
                            <a href="#">Remover</a>
                            <!--<span class="remover">Remover</span>-->
                        </p> 
                    </div>
        </div>
        <div class="productos">
            <div class="producto">
                <img src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80" alt="">
                <div class="info-producto">
                    <h3 class="nombre-producto">Zapatillas Modelo 3</h3>
                    <h2 class="precio-producto">$10,000</h2>
                    <h2 class="precio-oferta">50%</h2>
                    <p class="cantidad-producto">Cantidad: <input value="1" name="">
                    <p class="remover-producto">
                        <i class="fas fa-trash-alt"></i>
                        <a href="#">Remover</a>
                        <!--<span class="remover">Remover</span>-->
                    </p> 
                </div>
    </div>
        <div class="carrito-total">
            <p>
                <span>Total de articulos</span>
                <span>3</span>
            </p>
            <p>
                <span>Precio total</span>
                <span>15,000</span>
            </p>
            <a href="#">Proceder a pagar</a>
            <div class="pago">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-paypal"></i>
            </div>
           
        </div>
    </div>
</div>


<footer>
    <p class="division"></p>
    <div class="divisionfooter">
        <p class="titulofooter">SPORTSHOUSE</p>
        <p class="iconosredes"><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook"></i></p>
        <p class="textofooter">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis temporibus libero iste ut non sit, omnis adipisci beatae dicta nesciunt veniam vel ipsum impedit nisi blanditiis saepe optio nulla ratione?</p>
        <p class="titulofooter2">SPORTSHOUSE 2022 S.R.L.</p>
    </div>
</footer>

</body>
</html>