<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>



<div class="container">
    <h1>Carrito</h1>
    <div class="carrito">
        <div class="productos">
            <div class="producto">
                <img src="https://images.unsplash.com/photo-1621315271772-28b1f3a5df87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                <div class="info-producto">
                    <h3 class="nombre-producto">Zapatillas Modelo 1</h3>
                    <h2 class="precio-producto">$10,000</h2>
                    <h2 class="precio-oferta">50%</h2>
                    <p class="cantidad-producto">Cantidad: <input value="1" name="">
                  <p class="remover-producto">
                            
                            <i class="fas fa-trash-alt"></i>
                            <a href="#">Remover</a>
                            <!--<span class="remover">Remover</span>-->
                        </p> 
                </div>
            </div>
            <div class="productos">
                <div class="producto">
                    <img src="https://images.unsplash.com/photo-1608666634759-4376010f863d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                    <div class="info-producto">
                        <h3 class="nombre-producto">Zapatillas Modelo 2</h3>
                        <h2 class="precio-producto">$10,000</h2>
                        <h2 class="precio-oferta">50%</h2>
                        <p class="cantidad-producto">Cantidad: <input value="1" name="">
                        <p class="remover-producto">
                            <i class="fas fa-trash-alt"></i>
                            <a href="#">Remover</a>
                            <!--<span class="remover">Remover</span>-->
                        </p> 
                    </div>
        </div>
        <div class="productos">
            <div class="producto">
                <img src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80" alt="">
                <div class="info-producto">
                    <h3 class="nombre-producto">Zapatillas Modelo 3</h3>
                    <h2 class="precio-producto">$10,000</h2>
                    <h2 class="precio-oferta">50%</h2>
                    <p class="cantidad-producto">Cantidad: <input value="1" name="">
                    <p class="remover-producto">
                        <i class="fas fa-trash-alt"></i>
                        <a href="#">Remover</a>
                        <!--<span class="remover">Remover</span>-->
                    </p> 
                </div>
    </div>
        <div class="carrito-total">
            <p>
                <span>Total de articulos</span>
                <span>3</span>
            </p>
            <p>
                <span>Precio total</span>
                <span>15,000</span>
            </p>
            <a href="#">Proceder a pagar</a>
            <div class="pago">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-paypal"></i>
            </div>
           
        </div>
    </div>
</div>



<%- include('../partials/footer')%>

</body>
</html>