<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>


            <div class="detalleproducto">

                <section class="imagenproducto">
                    <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        width="600px" alt="">
                </section>
                <div class="detallezapatilla">
                    <p>NOMBRE ZAPATILLA</p>
                    <p class="textozapatilla">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quam placeat
                        voluptate corporis iure incidunt architecto! Iure veniam necessitatibus, id laudantium magni
                        officiis perferendis blanditiis quo soluta animi dolorum cumque.</p>
                    <p class="preciozapatillas">$0,00</p>
                    <div class="controlesproducto">
                        <i class="fas fa-plus-circle"></i><span class="numeroproductos"> 1 </span><i
                            class="fas fa-minus-circle"></i><input class="botonagregar" type="submit" value="AGREGAR">
                        <div class="divtalle">
                            <p class="talle">38</p>
                            <p class="talle">39</p>
                            <p class="talle">40</p>
                            <p class="talle">41</p>
                            <p class="talle">42</p>
                        </div>
                    </div>


                    <div class="divtalle">
                        <p class="color1">38</p>
                        <p class="color2">39</p>
                        <p class="color3">40</p>
                        <p class="color4">41</p>
                        <p class="color5">42</p>
                    </div>



                </div>



            </div>

            <div class="redessociales">
                <p>Compartir vía</p>
                <p class="iconosredes"><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i
                        class="fab fa-facebook"></i></p>
            </div>

            <section class="parrafoinferior">

                <p class="titulardesc">
                <h3>DESCRIPCION</h3>
                </p>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci nesciunt molestias sint sequi
                        deleniti alias aliquid ut nam laborum, corrupti vel, fuga velit cum ad, ipsa quidem libero vitae
                        quis.</p>
                </div>
            </section>

            <section class="propiedadeszapatilla">
                <p>Genero: ---------</p>
                <p>Material: ---------</p>
                <p>Origen: ---------</p>
                <p>Marca: ---------</p>
                <p>Composición: ---------</p>
            </section>


            <%- include('../partials/footer')%>


    </body>

</html>