<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="css/stylehome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">



</head>
<body>
    
    <header>
        <div class="logo">
            <a href="/"><img src="/images/Logo1.png" width="360px" alt="Logo"></a>
        </div>
        <div class="caja">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Buscar productos">
        </div>

        
            <nav class="navegacion">
                
                <ul>
                    <li><i class="fab fa-whatsapp"></i></li>
                    <li><a href="/formulariologin">Login</a><i class="fas fa-address-card"></i></li>
                    <li><a href="/formulario">Creá tu cuenta</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="/carrito">Carrito de compra</a><i class="fas fa-shopping-basket"></i></li>
                    <li><a href="/detalle">Detalle del producto</a></li>
                </ul>
                
            </nav>
            
            <p class="division">
            </p>
    </header>


    <section class="form-register">
        <h3>LOGIN</h3>
      

        <input class="controls" type="email" name="email" placeholder="Ingrese su usuario">
      
        <input class="controls" type="password" name="contraseña"  placeholder="Ingrese su contraseña">
      
        <input class="button" type="submit" value="INGRESAR">
        <a href="/formulario"><input class="button" type="submit" value="Recuperar contraseña"></a>
        


    </section>

    <footer>
        <p class="division"></p>
        <div class="divisionfooter">
            <p class="titulofooter">SPORTSHOUSE</p>
            <p class="iconosredes"><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook"></i></p>
            <p class="textofooter">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis temporibus libero iste ut non sit, omnis adipisci beatae dicta nesciunt veniam vel ipsum impedit nisi blanditiis saepe optio nulla ratione?</p>
            <p class="titulofooter2">SPORTSHOUSE 2022 S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>