<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>

        <%- include('./partials/header')%>


            <section class="form-register">
                <h3>LOGIN</h3>


                <input class="controls" type="email" name="email" placeholder="Ingrese su usuario">

                <input class="controls" type="password" name="contraseña" placeholder="Ingrese su contraseña">

                <input class="button" type="submit" value="INGRESAR">
                <a href="/formulario"><input class="button" type="submit" value="Recuperar contraseña"></a>



            </section>

            <%- include('./partials/footer')%>


    </body>

</html>