<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>

        <%- include('./partials/header')%>


            <section class="form-register">
                <h3>LOGIN</h3>

                <form action="/usuarios/login" method="post">
                    <input class="controls" type="email" name="email" placeholder="Ingrese su usuario">
    
                    <input class="controls" type="password" name="contraseña" placeholder="Ingrese su contraseña">
    
                    <a href="/usuarios"><input class="button" type="submit" value="INGRESAR"></a>
                    
                    <a href="/formulario"><input class="button" type="submit" value="Creá tu cuenta"></a>

                </form>



            </section>

            <%- include('./partials/footer')%>


    </body>

</html>