<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>


<body>
    <%- include('./partials/header')%>
    
    
    <main>
        <div data-text="LOS MEJORES PRECIOS" class="light">LOS MEJORES PRECIOS</div>
        <div class="portada">
                <img class="imgportada" src="https://images.unsplash.com/photo-1581343600721-f4ea1318ec57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=762&q=80" alt="imagen-portada">
            
            <p class="texto1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus neque obcaecati eveniet, sunt optio consectetur, itaque explicabo id asperiores quis animi quibusdam dolor recusandae ipsam modi harum ex dolore nam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ad architecto quia itaque neque voluptatem, eaque alias possimus deserunt a vel pariatur! Repudiandae eum soluta odio, ullam delectus inventore! Ipsam!</p>
        </div>

        <div class="containerImagenes">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1585232004423-244e0e6904e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="image">
            </div>
    
            <div class="card">
                <img src="https://images.unsplash.com/photo-1513188732907-5f732b831ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="image">
            </div>
            
            <div class="card">
                <img src="https://images.unsplash.com/photo-1542674685-07fae978fd57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="image">
            </div>
            
            <div class="card">
                <img src="https://images.unsplash.com/photo-1604943235205-3e1ccff688fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="image">
            </div>

        </div>
        
        <div data-text="| SPORTS HOUSE |" class="light">| SPORTS HOUSE |</div>
        
        <div class="texto2">
            <p><a href="/carrito"> Envíos gratis a todo el país</a><input class="botoncp" type="text" placeholder="Ingrese su C.P."></p>
        </div>

        <section class="imagenes1">
            <img src="https://images.unsplash.com/photo-1542219550-37153d387c27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" width="300px" alt="">
            <img src="https://images.unsplash.com/photo-1600185365778-7875a359b924?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80" width="300px" alt="">
            <img src="https://images.unsplash.com/photo-1584590069631-1c180f90a54c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" width="300px" alt="">
        </section>

        <p class="texto1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias modi vel accusantium voluptates ratione officia reiciendis assumenda, ex quidem! Cumque nulla animi vero? Illo ex voluptatum nam, ut pariatur officiis!</p>

        <section class="imagenes2">
            <img src="https://images.unsplash.com/photo-1490168105446-f43395eb50b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" width="300px" alt="">
            <img src="https://images.unsplash.com/photo-1465479423260-c4afc24172c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" width="300px" alt="">
        </section>
        
    </main>
    <%- include('./partials/footer')%>

   
</body>
</html>