<!-- Nuevo código Konrad-->

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>

        <%- include('./partials/header')%>


            <section class="form-register">
                <h3>Perfil</h3>

             

                

                



            </section>

            <%- include('./partials/footer')%>
       


    </body>

</html>