
<footer>
    <p class="division"></p>
    <div class="divisionfooter">
        <p class="titulofooter">SPORTSHOUSE</p>
        <p class="iconosredes"><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i class="fab fa-facebook"></i></p>
        <p class="textofooter">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis temporibus libero iste ut non sit, omnis adipisci beatae dicta nesciunt veniam vel ipsum impedit nisi blanditiis saepe optio nulla ratione?</p>
        <p class="titulofooter2">SPORTSHOUSE 2022 S.R.L.</p>
    </div>
</footer>
