
<header>
    
    <div class="logo">
        <a href="/"><img src="/images/Logo1.png" width="360px" alt="Logo"></a> 
    </div>
    <div class="caja">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Buscar productos">
    </div>

    
        <nav class="navegacion">
            
            <ul>
                
                <li><i class="fab fa-whatsapp"></i></li>
                <!--<li><a href="/formulariologin">Login</a><i class="fas fa-address-card"></i></li>--> <!--nuevo código Konrad-->
                <li><a href="/usuarios/registro">Creá tu cuenta</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/productos">Productos</a><i class="fas fa-address-card"></i></li>
                <li><a href="/productos/carrito">Carrito de compra</a><i class="fas fa-shopping-basket"></i></li>
<<<<<<< HEAD
=======
                <!-- <li><a href="/productos/detalle/:id">Detalle del producto</a></li> -->
>>>>>>> c1aea5f5dca9871905ed8a2b81d1641fc814530f

                <li><a href="/usuarios/login"><i class="far fa-user"></i></a></li> <!--nuevo código Konrad-->
                
            </ul>
            
            
        </nav>
        <div class="burgermenu">
            <i class="fas fa-bars"></i>
        </div>
        
        <p class="division">
        </p>
</header>
